.cart-design {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    gap: 1rem;
    border: 1px solid #e5e1db;
    padding: 0.5rem;
    margin: 15px auto;
    border-radius: 8px;
    width: 70%;
}

.cart-design img {
    min-width: 90px;
    max-width: 100px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.trushIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 60px;
    width: 60px;
    padding: 0.5rem;
    color: #e31717;
    background: #f2c9c985;
    border-radius: 50%;
}

@media only screen and (max-width: 688px) {
    .cart-design {
        width: 100%;
    }
}