.shopping-sector {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.shoping-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 3rem 5rem;
}

.order-summary {
    background: #FFE0B3;
    position: sticky;
    top: 3.7rem;
    height: 100vh;
}

@media only screen and (max-width:688px) {
    .shopping-sector {}

    .shoping-cards-container {
        grid-template-columns: 1fr;
        margin: 2rem 4rem;
        gap: 5px;

    }

    .order-summary {
        display: none;
    }
}

@media only screen and (max-width:990px) and (min-width:690px) {
    .shopping-sector {}

    .shoping-cards-container {
        grid-template-columns: 1fr 1fr;
        margin: 2rem 4rem;
        gap: 5px;

    }


}